.hiddenCheckbox {
  display: none;
}

.customCheckbox {
  display: block;
  width: 30px;
  height: 29px;
  top: 439px;
  left: 353px;
  gap: 0px;
  border-radius: 4px;
  background: #ffffff;
  color: #7ac100;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  font-family: Roboto;
  rotate: 0deg;
}

.checkmark {
  font-family: Roboto;
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
}
